extends layout 

block CSS 
    link(rel="stylesheet", href="/stylesheets/sign_up.css")
block content 
    p SIGN UP 
    if message 
        p=message
    if errors
        each err in errors
            p(style ={color:"red"})=err.msg 
    form(action="/signup" method="post")
        div(class = "input-box")
            label(for="username") username 
            input(type="text" id="username" name="username" value=username?username:"" pattern=".{3,16}" required="required" title="username longer than 3 character")
        br
        div(class = "input-box")
            label(for="password") password 
            input(type="password" id="password" name="password" value=password?password:"" pattern ="(?=.*[a-zA-Z])(?=.*[\\d])[A-Za-z\\d@$!%*#?&]{8,}" required="required" title="username longer than 7 character have atleast 1 number and 1 letter")
            button(class="show_pass off" type="button")
        br
        div(class = "input-box")
            label(for="rePassword") Re-password
            input(type="password" id="repassword" name="repassword" value=repassword?repassword:"" required title="must be the same as password")
            button(class="show_pass off" type="button")
        br
        button(class="submit_B" type="submit") Submit

block SCRIPT 
    script(type="text/javascript" src="/file/js/sign_up.js")